<ion-header>
  <ion-toolbar>
    <ion-title> <- ME AJUDA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
      <ion-card-content>
        
        <ion-card-title>Atendimento</ion-card-title> 
        <ion-card-subtitle>GABRIELA MOREIRA, EM QUE PODEMOS AJUDAR?</ion-card-subtitle>
   <br>

    <ion-button expand="full" color="primary"> <h1>Bate Papo MesaFácil</h1> </ion-button> <br>
    <ion-button expand="full" color="primary"><h1> Central de Atendimento </h1></ion-button> <br>
    <ion-button expand="full" color="primary"><h1> Sair </h1></ion-button>


